/* debug */


/* common */
body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 20px;
    color: #B5BBC8;
}

.cl_dark_blu {
    color: #011D4C;
}

.fw_b {
    font-weight: bolder;
}

.ms_bg_g {
    background-color: #F3F5F9;
}

.va_m {
    vertical-align: middle;
}

/* header */

/* navbar */

nav {
    height: 80px;
    line-height: 80px;
}

nav img {
    width: 100%;
}

.fa-bars {
    font-size: 20px;
    color: #7CB5FD;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 5px;
}

#sign_up {
    padding: 5px 9px;
    color: #7CB5FD;
    border:2px solid #7CB5FD;    
}

.nav_ul {
    display: none;
}



/* jumbotron */

#jumbotron {
    padding: 50px 0;
    /* height: 500px; */
    color: white;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: center;
}

#jumbotron_form {
    padding: 10px 5px;
    border-radius: 10px;
    background-color: white;
}
#jumbotron_form h3 {
    color: #011D4C;
    font-weight: bolder;
}
#jumbotron_form >a {
    font-size: 24px;
    color: #004AFF;
}

#form_container {
    padding: 40px 10px;
}

.ms_jumbotron-input {
    margin-bottom: 5px;
}

#blu_btn {
    width: 100%;
    background-color: #579AFF;
}

#google_btn {
    width: 100%;
    margin: 10px 0;
    background-image: url(../img/google-icon.png);
    background-size: 6%;
    background-repeat: no-repeat;
    background-position: 2% 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    color: rgb(75, 73, 73);
    background-color: white;
}

span a {
    color: #004AFF;
    text-decoration: underline;
}

/* logo section */

#logo_section p{
    text-transform: uppercase;
    font-size: 15px;
    padding-top:40px;
    color: grey;
}

#logo_section img {
    text-align: left;
    height: 150px;
    width: 100%;
}

#logo_section a {
    font-size: 18px;
    color: #004AFF;
}
#logo_section .fa-chevron-right {
    padding-left: 10px;
    font-size: 13px;
}





/* main */
/* footer */

/* media */

@media screen and (min-width: 992px) {
  #hamburgher_icon {
      display: none;
  }

  .nav_ul {
    display: block;
  }
}